@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
}

.navbar {
  background: #3ebfff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 80px;
}

.logo {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #fff;
  margin-left: 25px;
}

.header {
  height: 90vh;
  width: 100%;
  position: relative;
}

.header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  justify-content: space-around;
  width: 100%;
}
.content h1 {
  font-size: 5rem;
  color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}

.card img:hover {
  transform: scale(1.1);
}

.card h1,
p,
a {
  margin: 0 50px;
}

.card h1 {
  font-size: 2.4rem;
}

.card p {
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #999;
  line-height: 35px;
}

.card a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  transform: translate(-50%);
  text-align: center;
}

.card-content h1 {
  font-size: 20px;
}
.card-content p {
  font-size: 14px;
  margin-top: 10px;
  color: #000000;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.cleant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.cleant-card img {
  border-radius: 50%;
  width: 80px;
}

.cleant-card p {
  margin: 25px 0;
  font-size: 14px;
  color: #999;
}

.cleant-card h4 {
  color: #999;
}

.gallery-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery-footer img {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  background: #47b9a2;
}

.footer-links {
  margin: 30px 0;
}

.footer-link {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.footer-icons img {
  margin: 0 10px;
}
